{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>

.card-box {
    position: relative;
    color: #fff;
    padding: 20px 10px 40px;
    margin: 20px 0px;
}
.card-box:hover {
    text-decoration: none;
    color: #f1f1f1;
}
.card-box:hover .icon i {
    font-size: 100px;
    transition: 1s;
    -webkit-transition: 1s;
}
.card-box .inner {
    padding: 5px 10px 0 10px;
}
.card-box h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: left;
}
.card-box p {
    font-size: 15px;
}
.card-box .icon {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 5px;
    z-index: 0;
    font-size: 72px;
    color: rgba(0, 0, 0, 0.15);
}
.card-box .card-box-footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
}
.card-box:hover .card-box-footer {
    background: rgba(0, 0, 0, 0.3);
}
.bg-blue {
    background-color: #00c0ef !important;
}
.bg-green {
    background-color: #00a65a !important;
}
.bg-orange {
    background-color: #f39c12 !important;
}
.bg-red {
    background-color: #d9534f !important;
}


</style>




      <div class="container py-5">
        {% include 'partials/_messages.html' %}

        <div class="jumbotron">
          <h1>{{request.user.first_name}} {{request.user.last_name}}</h1>
          <p><strong>Email:</strong> {{request.user.email}}</p>
          <p><strong>Username:</strong> {{request.user.username}}</p>
          <p><a class="btn btn-primary btn-large" href="{% url 'store:add-address' %}">Add Address »</a> <a class="btn btn-outline-primary btn-large" href="#">My Orders »</a></p>
        </div>


        <div class="row">

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="card-box bg-blue">
                        <div class="inner">
                            <h3> {{ request.user.date_joined.date }} </h3>
                            <p> Date Joined </p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-graduation-cap" aria-hidden="true"></i>
                        </div>
                        <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-sm-6">
                    <div class="card-box bg-green">
                        <div class="inner">
                            <h3> {{ products_posted }} </h3>
                            <p> Products Posted </p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-money" aria-hidden="true"></i>
                        </div>
                        <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card-box bg-orange">
                        <div class="inner">
                            <h3> {{ orders }} </h3>
                            <p> Total Orders </p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                        </div>
                        <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="card-box bg-red">
                        <div class="inner">
                            <h3> {{ sms }} </h3>
                            <p> Message Engagements </p>
                        </div>
                        <div class="icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <a href="#" class="card-box-footer">View More <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div>

          <div class="col-lg-6">
            <div class="card mb-4" id="headings">
              <div class="card-header">Addresses <span class="float-right"><a href="{% url 'store:add-address' %}">Add Address</a></span></div>
              <div class="card-body">
                {% if addresses %}
                    {% for address in addresses %}
                        <h4 class="mb-3">Address {{forloop.counter}}</h4> 
                        
                        <span class="float-right"><a href="{% url 'store:remove-address' address.id %}"><i class="fas fa-trash-alt small text-muted"></i></a></span>

                        <p>
                            <strong>Locality: </strong>{{address.locality}} <br>
                            <strong>City: </strong>{{address.city}} <br>
                            <strong>State: </strong>{{address.state}} <br>
                        </p>

                        <hr>
                    {% endfor %}
                {% else %}
                <div class="text-danger">
                  Address not Found.
                </div>
                {% endif %}
                
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="card mb-4" id="tables">
              <div class="card-header">Orders</div>
              <div class="card-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Item</th>
                      <th>Status</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if orders %}
                      {% for order in orders %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{order.product.title}}</td>
                          <td>
                            {{order.status}}
                          </td>
                        </tr>
                      {% endfor %}
                    {% else %}
                    <tr>
                      <td class="text-danger" colspan="3">You've not Ordered anything yet.</td>
                    </tr>
                    {% endif %}
                    
                    
                  </tbody>
                </table>
                
              </div>
            </div>
          </div>
          
        </div>
    
        
        
      </div>
{% endblock content %}