{% extends 'base.html' %}
{% load static %}

      {% block content %}

          {% load humanize %}


<style>


.event-schedule-area .section-title  {
    margin-bottom: 50px;
}

.event-schedule-area .tab-area  {
    border-bottom: inherit;
}

.event-schedule-area .tab-area  {
    border-bottom: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-top: 80px;
}

.event-schedule-area   {
    margin-bottom: 75px;
}
.event-schedule-area .tab-area .nav-item {
    text-align: center;
    font-size: 22px;
    color: #333;
    font-weight: 600;
    border-radius: inherit;
    border: inherit;
    padding: 0px;
    text-transform: capitalize !important;
}
.event-schedule-area .tab-area .nav-item .nav-link.active {
    color: #ff481d;
    background-color: transparent;
}

.event-schedule-area .tab-area .tab-content .table {
    margin-bottom: 0;
    width: 80%;
}
.event-schedule-area .tab-area .tab-content .table thead td,
.event-schedule-area .tab-area .tab-content .table thead th {
    border-bottom-width: 1px;
    font-size: 20px;
    font-weight: 600;
    color: #252525;
}
.event-schedule-area .tab-area .tab-content .table td,
.event-schedule-area .tab-area .tab-content .table th {
    border: 1px solid #b7b7b7;
    padding-left: 30px;
}
.event-schedule-area .tab-area .tab-content .table tbody th .heading,
.event-schedule-area .tab-area .tab-content .table tbody td .heading {
    font-size: 16px;
    text-transform: capitalize;
    margin-bottom: 16px;
    font-weight: 500;
    color: #252525;
    margin-bottom: 6px;
}
.event-schedule-area .tab-area .tab-content .table tbody th span,
.event-schedule-area .tab-area .tab-content .table tbody td span {
    color: #ff481d;
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 6px;
    display: block;
}
.event-schedule-area .tab-area .tab-content .table tbody th span.date,
.event-schedule-area .tab-area .tab-content .table tbody td span.date {
    color: #656565;
    font-size: 14px;
    font-weight: 500;
    margin-top: 15px;
}
.event-schedule-area .tab-area .tab-content .table tbody th p {
    font-size: 14px;
    margin: 0;
    font-weight: normal;
}

.event-schedule-area-two .section-title .title-text h2 {
    margin: 0px 0 15px;
}

.event-schedule-area-two ul.custom-tab {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 30px;
}
.event-schedule-area-two ul.custom-tab li {
    margin-right: 70px;
    position: relative;
}
.event-schedule-area-two ul.custom-tab li a {
    color: #252525;
    font-size: 25px;
    line-height: 25px;
    font-weight: 600;
    text-transform: capitalize;
    padding: 35px 0;
    position: relative;
}
.event-schedule-area-two ul.custom-tab li a:hover:before {
    width: 100%;
}
.event-schedule-area-two ul.custom-tab li a:before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    background: #ff481d;
    width: 0;
    height: 2px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.event-schedule-area-two ul.custom-tab li a.active {
    color: #ff481d;
}

.event-schedule-area-two .primary-btn {
    margin-top: 40px;
}

.event-schedule-area-two .tab-content .table {
    -webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
    margin-bottom: 0;
}
.event-schedule-area-two .tab-content .table thead {
    background-color: #ff481d;
    color: #fff;
    font-size: 20px;
}
.event-schedule-area-two .tab-content .table thead tr th {
    padding: 20px;
    border: 0;
}
.event-schedule-area-two .tab-content .table tbody {
    background: #fff;
}
.event-schedule-area-two .tab-content .table tbody tr.inner-box {
    border-bottom: 1px solid #dee2e6;
}
.event-schedule-area-two .tab-content .table tbody tr th {
    border: 0;
    padding: 30px 20px;
    vertical-align: middle;
}
.event-schedule-area-two .tab-content .table tbody tr th .event-date {
    color: #252525;
    text-align: center;
}
.event-schedule-area-two .tab-content .table tbody tr th .event-date span {
    font-size: 50px;
    line-height: 50px;
    font-weight: normal;
}
.event-schedule-area-two .tab-content .table tbody tr td {
    padding: 30px 20px;
    vertical-align: middle;
}
.event-schedule-area-two .tab-content .table tbody tr td .r-no span {
    color: #252525;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap h3 a {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap h3 a:hover {
    color: #ff481d;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .categories {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 10px 0;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .categories a {
    color: #252525;
    font-size: 16px;
    margin-left: 10px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .categories a:before {
    content: "\f07b";
    font-family: fontawesome;
    padding-right: 5px;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .time span {
    color: #252525;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 10px 0;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers a {
    color: #ff481d;
    font-size: 16px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers a:hover {
    color: #ff481d;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-wrap .organizers a:before {
    content: "\f007";
    font-family: fontawesome;
    padding-right: 5px;
}
.event-schedule-area-two .tab-content .table tbody tr td .primary-btn {
    margin-top: 0;
    text-align: center;
}
.event-schedule-area-two .tab-content .table tbody tr td .event-img img {
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

#buttonContainer button {
  margin-right: 10px;
    border-radius: 5px;
}

</style>

<div class="event-schedule-area-two bg-color pad100" style="margin-top: 80px; margin-bottom: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title text-center">
                    <div class="title-text">
                        <h2>Tractor Operators</h2>
                    </div>
                    <p>
                        Get it done with less hussle. Hire Tractor operators who play diverse roles based on their skills and areas of expertise.
                    </p>
                </div>
            </div>
            <!-- /.col end-->
        </div>
        <!-- row end-->

        <div class="container" style="padding-bottom: 10px;">
            <img class="login-img" style="width: 100%; height:230px; object-fit: cover;" src="{% static 'img/OPERATORS1.jpg' %}" alt="Login Page image">
        </div>


        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade active show" id="home" role="tabpanel">
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped-columns table-hover">
                                <thead class="thead-dark">
                                    <tr>
                                        <th class="text-center" scope="col">Exp</th>
                                        <th scope="col">Pic</th>
                                        <th scope="col">Details</th>
                                        <th scope="col">Address</th>
                                        <th class="text-center" scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in all_operators %}
                                    <tr class="inner-box">
                                        <th scope="row">
                                            <div class="event-date">
                                                <span>{{ i.operator_experience_years }}</span>
                                                <p>Years</p>
                                            </div>
                                        </th>
                                        <td>
                                            <div class="event-img">
                                                <img style="border-radius: 50%;" src="{{ i.operator_profile_picture.url }}" alt="" />
                                            </div>
                                        </td>
                                        <td>
                                            <div class="event-wrap">
                                                <h3><a href="#">{{ i.operator_first_name }} {{ i.operator_last_name  }}</a></h3>
                                                <div class="meta">
                                                    <div class="organizers">
                                                        <a href="#">{{ i.operator_category }}</a>
                                                    </div>
                                                    <div class="categories">
                                                        <a href="#">{{ i.operator_subcategory }}</a>
                                                    </div>
                                                    <div class="time">
                                                        <span>Date Joined: {{ i.operator_created_at.date }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        <td>
                                            <div class="r-no">
                                                <span>{{ i.operator_address }}</span>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="primary-btn">
                                                <button class="btn btn-primary dim call-button" data-phone="{{ i.operator_phone_number }}" type="button" style="border-radius: 5px;"><i class="fa fa-phone" href="#"></i></button>
                                                <button id="mainButton" data-phone="{{ i.operator_phone_number }}" class="btn btn-success  dim" type="button" style="border-radius: 5px;"><i class="fa fa-comment" href="#"></i></button>
                                                <!-- Container for dynamically added buttons -->
                                                <div id="buttonContainer" style="margin-top: 10px;"></div>
                                            </div>

                                        </td>

                                    </tr>
                                 {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="primary-btn text-center">
                    <a href="{% url 'store:operator-application' %}" class="btn btn-primary" style="border-radius: 5px;">apply now...</a>
                </div>
            </div>
            <!-- /col end-->
        </div>
        <!-- /row end-->
    </div>
</div>



<script>

    document.getElementById("mainButton").addEventListener("click", function () {
  const container = document.getElementById("buttonContainer");

  // Clear the container to prevent duplicate buttons
  container.innerHTML = "";

  // Create SMS Button
  const smsButton = document.createElement("button");
  smsButton.className = "btn btn-outline-primary dim";
  smsButton.type = "button";
  smsButton.innerHTML = '<i class="fa fa-envelope"></i> In app';
  smsButton.onclick = function () {
    alert("In app");
  };

// Create WhatsApp Button
const whatsappButton = document.createElement("button");
whatsappButton.className = "btn btn-outline-success dim";
whatsappButton.type = "button";
whatsappButton.innerHTML = '<i class="fab fa-whatsapp"></i>';
whatsappButton.onclick = function () {
  alert("Send via WhatsApp clicked");

  // Replace the phone number with the desired one in international format (without `+`)
  const phoneNumber = this.getAttribute("data-phone");
  const message = "Hello there, am interested in your services, are you open for business??";// Customize the message
  const whatsappUrl = `https://wa.me/${phoneNumber}?text=${encodeURIComponent(message)}`;

  // Open WhatsApp URL
  window.open(whatsappUrl, "_blank");
};

  // Append the buttons to the container
  container.appendChild(smsButton);
  container.appendChild(whatsappButton);
});

// Get all call buttons
const callButtons = document.querySelectorAll(".call-button");

// Add click event to each button
callButtons.forEach((button) => {
  button.addEventListener("click", function () {
    // Get the phone number from the button's data attribute
    const phoneNumber = this.getAttribute("data-phone");

    // Open the phone dialer using the tel: scheme
    window.location.href = `tel:${phoneNumber}`;
  });
});

</script>


{% endblock content %}